* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f0f3f6;
  padding: 30px 20px 80px 20px;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Start main style*/
h1 {
  border-left: 5px solid #e3e6e9;
  padding: 10px 0 10px 10px;
  margin-left: 2px;
  margin-bottom: 30px;
  color: #8992a4;
  overflow: hidden;
  font-size: 16px;
}

h1:after {
  background-color: #8992a4;
  opacity: 0.15;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
h1:after {
  left: 10px;
  margin-right: -50%;
}

.invoices {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 2px solid #f1f1f1;
}
h2 {
  padding-bottom: 10px;
  color: #5a5b5a;
  font-weight: 600;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4873fe;
  color: #ffffff;
}

.invoiceTable {
  width: 100%;
  border-spacing: 0;
}
th {
  background-color: #f0f3f6;
  width: 25%;
  text-align: left;
  color: #7f879d;
  padding: 15px;
  font-weight: 600;
}
thead {
  box-shadow: 0 0 0 1px #f0f3f6;
  border-radius: 5px;
}
td {
  color: #9c9c9c;
  padding: 10px 15px;
  border-bottom: 1px solid #efefef;
}
.invoiceNumber {
  color: #6b8dff;
}
.remove-btn, .edit-btn{
  background-color: white;
  padding-right:10px;
  color: #5a5b5a;
  opacity: 0.3;
  height: 0;
  padding-bottom: 20px;
  margin: auto 0;
  border: none;
  outline: none;
}

.remove-btn:hover, .edit-btn:hover{
  opacity: 0.5;
}
.action-row{
  height: 55px;
  display: flex;
}

/*End main style*/

/*Start create style*/
.inner {
  background-color: #ffffff;
  padding: 40px 20px 40px 20px;
  border: 1px solid #efefef;
  margin-bottom: 30px;
}
.wrapper {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #efefef;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.input-col {
  display: block;
  width: 50%;
  padding-right: 20px;
}
.save-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.input-icon-wrap {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.icon {
  padding: 10px;
  opacity: 0.2;
}

.input-field {
  color: #5a5b5a;
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
}
.input-field:focus {
  outline: none;
  border-right: 1px solid #efefef;
}
.input-field:focus + .icon {
  background:#FAFAFA;
}

.date_supplied-wrap {
  width: 97%;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.comment-block {
  padding-right: 20px;
}
.comment {
  padding: 10px 0 10px 10px;
  border: 1px solid #efefef;
  border-radius: 5px;
  width: 100%;
  color: #5a5b5a;
  margin-top: 10px;
  height: 50px;
  outline: none;
}
label {
  font-size: 13px;
  color: #5a5b5a;
  font-weight: 600;
}
/*End create style*/
